.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid #b7b7a4;
    border-radius: 5px;
    padding: 0.25rem;
    position: relative;
    color: #ebebeb;
    text-align: center;
    background-color: #00000080;
    
}

.container:hover{
    border: 2px solid #6c757d;
}

.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #D31111;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
    top: 2px;
    right: 5px;
}

.closeButton:hover{
    background-color: #a4161a;
}

.title {
    font-size: 20px;
    font-weight: 700;

}

.container>section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.mainCard > section > .temp{
    font-size: 40px
}

.mainCard{
    border-color: transparent;
}

.mainCard .title{
    font-size: 2rem;
    text-align: left;
}