.app {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1493243350443-9e3048ce7288?ixlib=rb-1.2.1&dl=johannes-plenio-2QUvkQTBh5s-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
}

.header{
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 1; /*Valor por defecto 0, superpone las cosas.*/
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mainCity{
    backdrop-filter: blur(2px);
    background-color: #00000020;
}

.app, .mainCity {
    height: 100%;
    min-height: 100vh;
}

.otherCities, .mainCity{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta{
    color: white;
}